@import '../../../../dev-resource/config.dev.scss';
/*!@import '../../../../components/list/list.scss';!*/

.m-customer-order{
    margin-top: 20rpx;
}

.m-operation {
    position: fixed;
    bottom: 0;
    width: 100%;
    .btn-group {
        display: flex;
        padding: 10rpx 20rpx;
        background-color: #fff;
        >view {
            flex: 1;
            padding: 20rpx;
            border: 1px solid $blueColor;
            border-radius: 5px;
            margin: 0 10rpx;
            @include font(15px, $blueColor);
            text-align: center;
            &.blue {
                color: #fff;
                background-color: $blueColor;
            }
            &.hover {
                background-color: #eee;
            }
            &.blue.hover {
                background-color: #6699cc;
            }
        }
    }
}

.animation-box {
    .m-operation {
        transition: all 0.4s 0.6s;
        transform: translateY(100%);
        opacity: 0.5;
    }
}

.animation-box.loaded {
    .m-operation {
        transform: translateY(0);
        opacity: 1;
    }
}