/*
 * 聊天界面-提醒样式
 * @Author: 云程科技 
 * @Date: 2017-07-18 10:25:55 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-07-19 17:34:26
 */

@import '../../../../dev-resource/config.dev.scss';

/*!@import '../../../../components/list/list.scss';!*/

// 提醒人列表
.m-remind-list {
    padding-bottom: 100rpx;
    .item {
        padding: 20rpx 30rpx;
        display: flex;
        border-top: $border;
        background-color: #fff;
        &:first-of-type {
            border: none;
        }
        .l,
        .c,
        .r {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .l {
            flex: 0 0 auto;
        }
        .c {
            flex: 1 1 auto;
            width: 50%;
            padding: 0 16rpx;
            margin: 10rpx 0;
        }
        .r {
            align-items: flex-end;
            width: 80rpx;
            text-align: right;
        }
        .avatar-wrap {
            width: 52px;
            height: 52px;
            padding: 2px;
            border: $border;
            border-radius: 50%;
        }
        .avatar {
            width: 100%;
            height: 100%; // padding: 5px;
            border-radius: 50%; // box-shadow: 0 0 0 1px #eee;
        }
        .namewrap {
            display: flex;
        }
        .realname,
        .username {
            // 防止名字过长移除，修剪处理
            display: inline-block;
            max-width: 48%;
            @extend %text-clip;
        } // 真实姓名
        .realname {
            @include font($normalFont, $firstFont);
        } // 用户名
        .username {
            @include font($smallFont, $secondFont);
            margin-left: 4px;
            &:before {
                content: ' [ ';
            }
            &:after {
                content: ' ] ';
            }
        }
        .role {
            @include font($smallFont, $thirdFont);
            margin-top: 8px;
            width: 100%;
            @extend %text-clip;
        }
        .time {
            @include font($smallFont, $thirdFont);
            width: 100%;
        }
    }
}

.animation-box {
    .m-remind-list {
        transition: all 0.6s;
        opacity: 0;
        transform: translateY(200rpx);
    }
}

.animation-box.loaded {
    .m-remind-list {
        opacity: 1;
        transform: translateY(0);
    }
}