/* List 组件样式
 * @Author: Cphayim
 * @Date: 2017-07-31 09:47:25 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-08-28 15:52:31
 */

@import '../../dev-resource/config.dev.scss';

// 列表信息
.cy-list-count{
    padding: 10rpx 30rpx;
    @include font(12px,$firstFont);
    background-color: #eaeaea;
}

// 基本列表
.cy-list {
    .item {
        display: flex;
        padding: 25rpx 30rpx;
        border-bottom: $border;
        @include font(14px);
        background-color: #fff;
        &:last-child{
            border-bottom: none;
        }
        .item-key {
            flex: 0 0 200rpx;
            display: flex;
            align-items: center;
            color: $firstFont;
        }
        .item-val {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center; // text-align: right;
            color: $secondFont;
        }
    }
}

// 左右普通信息展示列表
.cy-info-list {
    //列表
    .title {
        padding: 15rpx 30rpx;
        @include font($smallFont, $firstFont);
        background-color: #eaeaea;
    }
}

// 标题带链接的列表 和 可编辑的列表
.cy-headlink-list,
.cy-edit-list {
    margin-bottom: 30rpx;
    background-color: #fff;
    .head {
        display: flex;
        padding: 25rpx 30rpx;
        border-bottom: $border;
        @include font(15px);
        background-color: #fff;
        .head-key {
            color: $firstFont;
        }
        .head-val {
            flex: 1;
            text-align: right;
            color: $blueColor;
            &.hover {
                color: #6699cc;
            }
        }
    }
    .item-wrap {
        padding-left: 30rpx;
    }
    .item {
        padding-left: 0;
        font-size: 14px;
        .item-key {
            color: $secondFont;
        }
        .item-val {
            color: $thirdFont;
        }
    }
}

// 可编辑的列表
.cy-edit-list {
    .item {
        .item-val {
            input {
                display: inline-block;
                width: 100%;
                @include font(14px, $thirdFont);
                text-align: right;
                .placeholder {
                    @include font(14px, #aaa);
                }
            } // 选项盒子
            .checkbox {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                width: 100%;
                .option {
                    margin: 10rpx;
                    padding: 10rpx 20rpx;
                    border: $border;
                    border-radius: 10rpx;
                    background-color: $grayColor;
                    transition: all 0.3s;
                    &.hover {
                        transform: scale(1.1);
                    }
                    &.active {
                        background-color: #fff;
                        border-color: $blueColor;
                        color: $blueColor;
                    }
                }
            }
            picker,
            .picker {
                width: 100%;
                height: 100%;
                text-align: right;
                color: $thirdFont;
            }
            .arrow {
                position: relative;
                padding-right: 17.5px;
                @include font(14px, $thirdFont);
                &:after {
                    position: absolute;
                    right: -7.5px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    $url: '../../dev-resource/icon-image-min/rightArrow-2.png';
                    @include image($url);
                }
            }
        }
    }
}

// 带头像的客户/对话列表
.cy-client-list {
    .item {
        display: flex;
        justify-content: space-between;
        border-bottom: $border;
        padding: 20rpx 30rpx;
        background-color: #fff;
        &:last-of-type {
            border: none;
        }
        .l,
        .c,
        .r {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .l {
            flex: 0 0 auto;
        }
        .c {
            flex: 1 1 auto; 
            width: 50%;
            padding: 0 16rpx;
            margin: 10rpx 0;
        }
        .r {
            margin: 10rpx 0;
            flex: 0 1 auto;
            text-align: right;
        }
        .avatar-wrap {
            width: 52px;
            height: 52px;
            padding: 2px;
            border: $border;
            border-radius: 50%;
        }
        .avatar {
            width: 100%;
            height: 100%; // padding: 5px;
            border-radius: 50%; // box-shadow: 0 0 0 1px #eee;
        }
        .namewrap{
            display: flex;
            align-items: center;
        }
        .realname,
        .username {
            // 防止名字过长移除，修剪处理
            display: inline-block;
            max-width: 48%;
            @extend %text-clip;
        } // 真实姓名
        .realname {
            @include font($normalFont, $firstFont);
        } // 用户名
        .username {
            @include font($smallFont, $secondFont);
            margin-left: 8rpx;
            &:before {
                content: ' [ ';
            }
            &:after {
                content: ' ] ';
            }
        }
        .content {
            @include font($smallFont, $thirdFont);
            margin-top: 10rpx;
            width: 100%;
            @extend %text-clip;
        }
        .time,
        .status,
        .text {
            @include font($smallFont, $thirdFont);
            display: inline-block;
            width: 100%;
        }
        .time {
            font-size: 12px;
            margin-bottom: 10rpx;
        }
    }
}


.status:before{
    display: inline-block;
    width: 14px;height: 14px;
    margin-right: 2px;
    content:'';
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.status-progressed:before{
    background-image: url('../../dev-resource/image-min/status-progress.png');
}

.status-untreated:before {
    background-image: url('../../dev-resource/image-min/status-untreated.png');
}

.status-finished:before {
    background-image: url('../../dev-resource/image-min/status-finished.png');
}
.status-null:before{
    background-image: url('../../dev-resource/image-min/status-null.png');
}

// 列表动画控制
.animation-box {
    .cy-list,.cy-list-count {
        transition: all 0.6s;
        transform: translateY(200rpx);
        opacity: 0;
    }
}

.animation-box.loaded {
    .cy-list,.cy-list-count {
        transform: translateY(0);
        opacity: 1;
    }
}

// 暂无内容
.nocontent {
    min-height: 700rpx;
    background-image: url('../../dev-resource/image-min/nocontent.png');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 320rpx 400rpx;
}



// 底部保存按钮
.m-operation {
    position: fixed;
    bottom: 0;
    width: 100%;
    .btn-group {
        display: flex;
        padding: 10rpx 20rpx;
        background-color: #fff;
        >view {
            flex: 1;
            padding: 20rpx;
            border: 1px solid $blueColor;
            border-radius: 5px;
            margin: 0 10rpx;
            @include font(15px, $blueColor);
            text-align: center;
            &.blue {
                color: #fff;
                background-color: $blueColor;
            }
            &.hover {
                background-color: #eee;
            }
            &.blue.hover {
                background-color: #6699cc;
            }
        }
    }
}

.animation-box {
    .m-operation {
        transition: all 0.4s 0.6s;
        transform: translateY(100%);
        opacity: 0.5;
    }
}

.animation-box.loaded {
    .m-operation {
        transform: translateY(0);
        opacity: 1;
    }
}