/*
 * Tab 客户页样式
 * @Author: 云程科技 
 * @Date: 2017-06-29 15:09:37 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-08-14 09:52:48
 */

@import '../../../dev-resource/config.dev.scss';

// 以下注释为打包特殊标记，勿删
/*!@import '../../..//components/search/search.scss';!*/
/*!@import '../../../components/selection/selection.scss';!*/

.section{
    background-color: #fff;
}

// 客户列表
.m-client {
    // 分级列表
    .client-list {
        .title {
            @include font($smallFont, $firstFont);
            background-color: #eaeaea;
        }
        .title,
        .item {
            padding: 15rpx 30rpx;
        }
        .item {
            display: flex;
            border-bottom: $border;
            &:last-of-type {
                border: none;
            }
            .l,.c,.r {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .l{
                flex: 0 0 auto;
            }
            .c {
                flex: 1 1 auto;
                width: 50%;
                padding: 0 8px;
                margin: 10px 0;
            }
            .r {
                display: flex;
                flex: 0 1 auto;
                align-items: center;
                text-align: right;
            }
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .realname,
            .username {
                // 防止名字过长移除，修剪处理
                display: inline-block;
                max-width: 48%;
                @extend %text-clip;
            } // 真实姓名
            .realname {
                @include font($normalFont, $firstFont);
            } // 用户名
            .username {
                @include font($smallFont, $secondFont);
                margin-left: 4px;
                &:before {
                    content: ' [ ';
                }
                &:after {
                    content: ' ] ';
                }
            }
            .signature {
                @include font($smallFont, $thirdFont);
                margin-top: 8px;
                width: 100%;
                @extend %text-clip;
            }
            .time {
                @include font($smallFont, $thirdFont);
                width: 100%;
            }
        }
    }
}

// 侧栏导航
.m-side-nav{
    position: fixed;
    top: 50%;right: 30rpx;
    padding: 4px 0;
    border-radius: 4px;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateX(80rpx);
    opacity: 0.5;
    transition: all 0.4s;
    &.active{
        opacity: 1;
        transform: translateX(0);
    }
    .item{
        padding: 20rpx 10rpx;
        @include font($smallFont,#fff);
    }
}