/*
 * Tab 业务页样式
 * @Author: 云程科技 
 * @Date: 2017-07-03 10:35:23 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-08-17 15:06:26
 */

@import '../../../dev-resource/config.dev.scss';
/*!@import '../../../components/search/search.scss';!*/
/*!@import '../../../components/selection/selection.scss';!*/
/*!@import '../../../components/list/list.scss';!*/




.section {
    background-color: #fff;
}

.top-component{
    position: fixed;top:0;
    width: 100%;
}
.m-business {
    .count{
        padding: 10rpx 30rpx;
        background-color: #eaeaea;
        @include font(12px,$firstFont);
    }
}
