/*
 * Tab 客户页样式
 * @Author: 云程科技 
 * @Date: 2017-06-29 15:09:37 
 * @Last Modified by: Cphayim
 * @Last Modified time: 2017-08-28 14:52:56
 */

@import '../../../dev-resource/config.dev.scss';

// 以下注释为打包特殊标记，勿删
/*!@import '../../..//components/search/search.scss';!*/
/*!@import '../../../components/selection/selection.scss';!*/
/*!@import '../../../components/list/list.scss';!*/


.section{
    background-color: #fff;
}

.top-component{
    position: fixed;top:0;z-index: 999;
    width: 100%;
}

.m-client{
    
}